
    /*
   background-image: url(./assets/bg-mobile.jpg);
   background-repeat: no-repeat;
   background-position: top center;
   background-size: cover;

   Let's try to do it shorthand!
*/
/*background: color image repeat position/size */
*{
   margin:0;
   padding:0;
   box-sizing: border-box;
}

:root{
   --text-color: white;
   --bg-url:url(./assets/bg-mobile.jpg);
   --stroke-color:  rgba(255, 255, 255, 0.5);
   --surface-color:  rgba(255, 255, 255, 0.05);
   --surface-color-hover:rgba(0, 0, 0, 0.01);
   --highlight-color-hover: rgba(255, 255, 255, 0.2);
   --switch-button: url(./assets/sun.svg) no-repeat center;

}
  
.light{
   --text-color:black;
   --bg-url: url(./assets/bg-desktop-light.jpg);
   --stroke-color: rgba(0, 0, 0, 0.5);
   --surface-color: rgba(0, 0, 0, 0.05);
   --surface-color-hover: rgba(0, 0, 0, 0.1);
   --highlight-color-hover: rgba(0, 0, 0, 0.1);
   --switch-button: url(./assets/moon-stars.svg) no-repeat center;
}
   

body{
background: var(--bg-url) no-repeat top center/cover;
}
body *{
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}
#container{
   width: 360px;
  
   margin: 56px auto 0px; 
   padding: 0 24px;
}
/*Profile*/
#profile{
   text-align: center;
   padding: 24px;
}
#profile img{
width: 112px;
}
#profile p{
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/* Switch */

#switch{

   position: relative;
   width: 64px;
   margin: 4px auto;
}


#switch button{
width: 32px;
height: 32px;
background: white var(--switch-button);
border: 1px solid var(--stroke-color);
border-radius: 50%;

position: absolute;
top: 50%;
left:0;
z-index: 1;
transform: translateY(-50%) 
}

#switch span{
   display: block;
   width: 64px;
   height: 26px;
   background: var(--surface-color);
   border: 1px solid var(--stroke-color);
   border-radius:38px;
   backdrop-filter: blur(4px);  
}
.light #switch button{
   right: 0;
   left: initial;
}

/* Links */
ul{
   list-style: none;
   display: flex;
   flex-direction: column;
   gap: 16px;
   padding: 24px 0;
}
ul li a{
   display: flex;
   justify-content: center;
   align-items: center;

   padding: 16px 24px;

   background: var(--surface-color);
   border: 1px solid var(--stroke-color);   
   border-radius: 38px;

   backdrop-filter: blur(4px);
   -webkit-backdrop-filter: blur(4px);

   text-decoration: none;
   font-weight: 500;

   transition: background 0.5s;
}

/* pseudo-selector */
ul li a:hover {
background: var(--surface-color-hover);
border: 1.4px solid var(--stroke-color);
}
/* social-links */
#social-links{
display: flex;
justify-content: center;

padding: 24px 0;

font-size: 24px;
}

#social-links a{
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 16px;
   transition: background 0.25s;
   border-radius: 50%;
}

#social-links a:hover{
background: var(--highlight-color-hover);
}
footer{
   padding: 24px 0;
   text-align: center;
   font-size: 14px;
}